edge-tts>=7.2.7
yfinance>=0.2.40
gTTS==2.4.0
schedule==1.2.1
pytz==2024.1
aiofiles
selenium
webdriver-manager
pydub>=0.25.1
pytchat
google-generativeai
openai
python-dotenv
feedparser
requests
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
